* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/10/24/08/102408ef3a819f753847782681ec29de.jpg)
}

.bigger-box {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-city {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px);

}

.button-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: 000000;
    cursor: pointer;
    float: right;


}

.search-img {
    width: 20px;

}

.medium-box{
    margin-top: 30px;
}

.city{
    color: #ffffff;
    font-size: 28px;
    font-weight:300;

}

.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.small-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.prev-text{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.humidity{
    color: #ffffff;
    margin-top: 20px;
}